obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/Play.Common.AssemblyInfo.cs
obj/Debug/net5.0/Play.Common.AssemblyInfoInputs.cache
obj/Debug/net5.0/Play.Common.csproj.AssemblyReference.cache
obj/Debug/net5.0/Play.Common.GeneratedMSBuildEditorConfig.editorconfig
bin/Release/net5.0/Play.Common.deps.json
bin/Release/net5.0/Play.Common.dll
bin/Release/net5.0/Play.Common.pdb
obj/Play.Common.csproj.nuget.dgspec.json
obj/Play.Common.csproj.nuget.g.props
obj/Play.Common.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/Play.Common.assets.cache
obj/Release/Play.Common.1.0.6.nuspec
obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Release/net5.0/Play.Common.AssemblyInfo.cs
obj/Release/net5.0/Play.Common.AssemblyInfoInputs.cache
obj/Release/net5.0/Play.Common.assets.cache
obj/Release/net5.0/Play.Common.csproj.AssemblyReference.cache
obj/Release/net5.0/Play.Common.csproj.CoreCompileInputs.cache
obj/Release/net5.0/Play.Common.csproj.FileListAbsolute.txt
obj/Release/net5.0/Play.Common.dll
obj/Release/net5.0/Play.Common.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net5.0/Play.Common.pdb
obj/Release/net5.0/ref/Play.Common.dll
obj/Release/net5.0/refint/Play.Common.dll
