obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/Play.Common.AssemblyInfo.cs
obj/Debug/net5.0/Play.Common.AssemblyInfoInputs.cache
obj/Debug/net5.0/Play.Common.csproj.AssemblyReference.cache
obj/Debug/net5.0/Play.Common.GeneratedMSBuildEditorConfig.editorconfig
